:root{
    --main-color:#cbfe1c;
}
@font-face {
    font-family: main-font-family-bold;
    src: url(../fonts/ChakraPetch-Bold.ttf);
}
@font-face {
    font-family: main-font-family-Regular;
    src: url(../fonts/ChakraPetch-Regular.ttf);
}
@font-face {
    font-family: main-font-family-SemiBold;
    src: url(../fonts/ChakraPetch-SemiBold.ttf);
}

.main-color{
    color: var(--main-color);
}
.bg-main-color{
    background-color: var(--main-color);
}
nav{
    background-color: red !important;
}
body{
    padding-top: 100px;
    font-family: main-font-family-SemiBold;
    background-color: #000;
}
.nav-link{
    color: #FFF;
}
.nav-link:focus, .nav-link:hover,.active {
    color: var(--main-color);
}
header .nav-icon-hover:hover{
    color: var(--main-color);
    cursor: pointer;
}