#hero .btn-outline-primary:hover,
.bg-main-color {
  background-color: var(--main-color);
}
.hero-img,
main section#hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
:root {
  --main-color: #cbfe1c;
}
@font-face {
  font-family: main-font-family-bold;
  src: url(../fonts/ChakraPetch-Bold.ttf);
}
@font-face {
  font-family: main-font-family-Regular;
  src: url(../fonts/ChakraPetch-Regular.ttf);
}
@font-face {
  font-family: main-font-family-SemiBold;
  src: url(../fonts/ChakraPetch-SemiBold.ttf);
}
@font-face {
  font-family: dayes-one;
  src: url(../fonts/DaysOne-Regular.ttf);
  font-weight: 700;
}
h1 {
  font-family: dayes-one;
  font-weight: 900;
}
.active,
.main-color,
.nav-link:focus,
.nav-link:hover {
  color: var(--main-color);
}
.nav-link,
body {
  color: #fff;
}
body,
nav {
  background-color: #000;
}
body {
  font-family: main-font-family-SemiBold;
}
header .nav-icon-hover:hover {
  color: var(--main-color);
  cursor: pointer;
}
#hero .btn-outline-primary {
  color: var(--main-color);
  border-color: var(--main-color);
  box-shadow: none !important;
}
#hero .btn-outline-primary:hover {
  color: #000;
  border-color: var(--main-color);
}
main section#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../images/hero-bg.jpg);
}
.hero-img {
  border: 5px solid var(--main-color);
  background-color: #fff;
  height: 350px;
  overflow: hidden;
  background-image: url(../images/hero-img.png);
}
